body {
    font-family: 'Google Sans', sans-serif;
    background-color: #dedfe0;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

/**Header **/

.menu-superior {
    background-color: #054A91;
    color: #DBE4EE;
    padding: 1px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: -83px;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.menu-superior ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 20px;
    padding: 0;
    font-size: 20px;
}

.menu-superior a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu-superior a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-superior a.active {
    background-color: #F17300;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 118px;
    display: flex;
}

.logo h1 {
    font-size: 25px;
    color: #e9dfc7;
    margin: 0;
    margin-left: -65px;
    margin-top: -8px;
}

/**Resumo Financeiro**/

.conteiner-box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #ffffff;
    width: 77%;
    height: 650px;
    margin-left: auto;
    margin-top: 35px;
    margin-right: auto;
    border-radius: 10px;
    border-color: #ffffff;
    border-width: 10px;
    border-style: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.conteiner-box h2 {
    font-size: 28px;
    color: #054A91;
    margin-bottom: 10px;
    margin-left: -650px;
    font-size: 30px;
}
.conteiner-box p {
    font-size: 18px;
    color: #333333ad;
    margin-bottom: 20px;
    margin-left: -650px;
    margin-top: -10px;
    font-size: 20px;
}

.valor-estoque {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -500px;
    margin-left: 250px;
    border-radius: 10px;
    border-width: 10px;
    border-color: #ffffff;
    border-style: solid;

    background-color: #054A91;
    width: 20%;
    height: 20%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}