body {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #dbe4ee;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

/**Header**/

.menu-superior {
    background-color: #054A91;
    color: #e8ecf1;
    padding: 1px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: -83px;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.menu-superior ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 20px;
    padding: 0;
    font-size: 20px;
}

.menu-superior a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu-superior a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-superior a.active {
    background-color: #F17300;
}

/**Logo e Nome da Empresa**/
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    height: 118px;
    margin-top: 15px;
    margin-left: 20px;
}

.logo h1 {
    font-size: 25px;
    color: #ffffff;
    margin-top: 18px;
}

/**Resumo Financeiro**/

.conteiner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    background-color: #ffffff;
    width: 77%;
    height: 700px;
    margin: 35px auto 0 auto;
    padding: 30px;
    border-radius: 10px;
    border: 10px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.maintitle {
    width: 100%;
    height: max-content;
    color: #054A91;
    font-size: 30px;
    margin: 0 0 20px 5px;
    padding-left: 20px;
    margin-left: 20px;
}

.conteiner-box h2 {
    font-size: 28px;
    color: #054A91;
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 10px;
}

.conteiner-box p {
    font-size: 18px;
    color: #333333ad;
    margin-bottom: 20px;
    margin-top: -10px;
    font-size: 20px;
}

/**Box de Fundo Principal**/
.conteiner-valores {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: -550px;
    padding: 20px;
}

/**Valor do Estoque**/
/**Primeiro grupo de boxes**/
.valor-estoque {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border: 1px solid #5d5d5e;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #054A91;
    width: 22%;
    height: 100px;
    color: #ffffff7f;
    align-items: center;
    font-size: 15px;
    padding: 20px;
}

.valor-estoque h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    margin-left: -165px;
    margin-top: 2px;
}

.valor-estoque p {
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    margin-top: 2px;
    margin-left: -130px;
    color: #ffffff;
}

.total-unidades {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
    background-color: #fdfdfd;
    border-color: #ffffff;
    border: 1px solid #615e5e32;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    width: 22%;
    height: 100px;
    font-size: 15px;
    padding: 20px;
}

.total-unidades h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700px;
    margin-left: 00px;
    margin-top: 2px;
    color: #5d5d5e;
}

.total-unidades p {
    margin: 0;
    font-size: 40px;
    font-weight: 1000;
    margin-top: 2px;
    margin-left: 10px;
    color: #054A91;
}

.produtos-cadastrados {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #615e5e32;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    width: 22%;
    height: 100px;
    font-size: 15px;
    padding: 20px;
}

.produtos-cadastrados h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700px;
    margin-left: 0px;
    margin-top: 2px;
    color: #5d5d5e;
}

.produtos-cadastrados p {
    margin: 0;
    font-size: 40px;
    font-weight: 1000;
    margin-top: 2px;
    margin-left: 10px;
    color: #054A91;
}

/**Ajuste de Posicionamento **/

.valor-estoque,
.total-unidades,
.produtos-cadastrados {
    margin-top: -100px;
}

/**Segundo grupo de boxes**/

.valor-categoria,
.tier-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #615e5e32;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    height: 400px;
    font-size: 15px;
    padding: 20px;
    margin-left: 253px;
}

.valor-categoria {
    width: 35%;
}

.tier-list {
    margin-left: 1000px;
    margin-top: -442px;
    width: 32.4%;
}

.valor-categoria h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 700px;
    margin-left: 0px;
    margin-top: -200px;
    color: #414142;
}

.tier-list h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 700px;
    margin-left: 0px;
    margin-top: -268px;
    color: #414142;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
    width: 25px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -5px;
}


/**Movimentação**/

.movh2 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #004a99;
    font-size: 24px;
    margin: 0;
    margin-left: -20px;
}

.movp {
    color: #666;
    margin: 5px 0 0 35px;
    margin-left: -20px;
}

.cimento {
    position: relative;
    border: 2px solid #FFD700;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    height: 180px;
    min-height: 180px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 20px;
}

/* Título e Imagem dentro do card */
.cimento h3 {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.cimento h3 img {
    width: 50px;
    height: 50px;
    background: #f1f3f5;
    border-radius: 8px;
}

/* card de Categoria */
.cimento p:first-of-type {
    background-color: #fef4d8;
    color: #856404;
    padding: 4px 12px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-left: 65px;
}

.qntd-estoque {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    line-height: 1;
}

.qntd-estoque::before {
    content: "3";
    display: block;
    font-size: 32px;
    font-weight: bold;
    color: #b8860b;
}

.qntd-estoque {
    color: #99aab5;
    font-size: 12px;
}

/* Botões Adicionar e Remover */
.add,
.remove {
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
}

.add {
    background-color: #002d5e;
    width: 60%;
    margin-right: 5px;
}

.remove {
    background-color: #f27405;
    width: 35%;
}